<div class="jumbotron text-center">
  <h2>Students Downloads</h2><hr>
  <h4>Survey and Lands Studies Department</h4><br>
  <div class="words"><b>
  An initative of the COVID-19 team
  </b>
  </div>
</div>

<div>
  <div  class="col-sm-3">
    <div class="thumbnail notice-thumbnail" [routerLink]="['/notice',c.id]">
      <h3>Visual Studio Code & LiteServer</h3>
    </div>
    
    <div  class="btn-center notice-thumbnail alert alert-success">
    <a href="assets/softwares/VSC-1.47.3.exe"  class='btn pull-center btn-success btn-lg'>Download VSC</a>
    <a href="assets/softwares/ritwickdey.LiveServer-5.6.1.vsix"  class='btn pull-center btn-success btn-lg'>Download LiteServer</a>
    </div>
  </div>
  <div  class="col-sm-3">
    <div class="thumbnail notice-thumbnail" [routerLink]="['/notice',c.id]">
      <h3>Install VSC & WWW videos</h3>
    </div>
    
    <div  class="btn-center notice-thumbnail alert alert-success">
    <a href="assets/softwares/sl310-vsc.webm"  class='btn pull-center btn-success btn-lg'>Download VSC Video</a>
    <a href="assets/softwares/www.webm"  class='btn pull-center btn-success btn-lg'>Intro WWW</a>
    </div>
  </div>
</div>