<div class="panel-heading text-center">Add a New Notice</div>
<div class="panel-body" *ngIf='teacher'>
  <form [formGroup]='form' (ngSubmit)='createTeacher()'>
    <div class="form-group col-sm-4">
      <label for="">Title</label>
      <input class="form-control" type='text' name="title" formControlName='title' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Content</label>
      <input class="form-control" type='textarea' name="content" formControlName='content' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Owner</label>
      <input class="form-control" type='text' name="owner" formControlName='owner' required>
    </div>


    <div class="form-group col-sm-4">
      <input type="file" multiple name='uploads' (change)="onFileSelected($event)" formControlName='uploads' />
    </div>

    <div class="form-group col-sm-12">
      <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
      <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>
    </div>



    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>

</div>