
    <div class="row">
     
      <div class="col-sm-3">
        <h5>Streamed from AKAMAI Servers</h5>
        <dashjs-player [src]="'https://dash.akamaized.net/envivio/Envivio-dash2/manifest.mpd'" [autoload]="false"></dashjs-player>

      </div>

      <div class="page-header col-sm-3">
        <h5>24HRS Movies</h5>
        <dashjs-player [src]="'assets/videos/n/24hr.mpd'" [autoload]="false"></dashjs-player>

      </div>

      <div class="page-header col-sm-3">

      <h5>Camtasia Tutorial 1</h5>
        <dashjs-player [src]="'assets/videos/camtasia1/camtasia1.mpd'" [autoload]="false"></dashjs-player>
      </div>
        
      <div class="col-sm-3 page-header">
          <h5>Intro to Programming</h5>
        <dashjs-player [src]="'assets/videos/camtasia2/camtasia2.mpd'" [autoload]="false"></dashjs-player>
      </div>
    </div>




    <div class="row">
        <div class="col-sm-3 page-header">
          <h5>Camtasia Tutorial</h5>
          <dashjs-player [src]="'assets/videos/camtasia3/camtasia3.mpd'" [autoload]="false"></dashjs-player>
  
        </div>
        <div class="col-sm-3 page-header">
          <h5>Camtasia</h5>
          <dashjs-player [src]="'assets/videos/n/24hr.mpd'" [autoload]="false"></dashjs-player>
  
        </div>
        <div class="col-sm-3 page-header">
          <h5>Camtasia</h5>
          <dashjs-player [src]="'assets/videos/sl361/sl361.mpd'" [autoload]="false"></dashjs-player>
        </div>

        <div class="col-sm-3 page-header">
          <h5>GIS Test Stream</h5>
          <dashjs-player [src]="'assets/videos/ck/tvid.mpd'" [autoload]="false"></dashjs-player>
        </div>
      </div>


  


  
