<div class="jumbotron text-center">
  <h2>BISMARCK SEA REAL ESTATE</h2><hr>
  <h4>Valuing and Mantaining Your Asset is Our Passion.</h4><br>
  <button *ngIf='auth.isLoggedIn()' routerLink='/properties/create' class="btn btn-info">New Property Listing</button>
  <div class="words"><b>
  Sales,Leasing, Valuation and Property Management.
  </b>
  </div>
</div>

<div *ngIf="teachers">
  <div *ngFor="let c of teachers" class="col-sm-4">
    <div class="thumbnail" [routerLink]="['/properties',c.id]">
      <h2> {{ c.location }}</h2>
      <h4>{{c.description}}</h4>
      <img [src]='c.listViewImage' class='img-responsive img-circle'>
    </div>
    
    <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
    <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>


     <div class="btn btn-info pull-right" routerLink='/feedback/create'>Leave a Feedback</div>
     <div class="btn btn-primary pull-left" routerLink='/feedback'>Show Prev Feedbacks</div>

  </div>
</div>

