<div *ngIf='notice'>
    <form (ngSubmit)="updateContact()">
        <div class="form-group">
            <label for="">title</label>
            <input class="form-control" type='text' name="title" [(ngModel)]='notice.title'>
        </div>
        <div class="form-group">
            <label for="">Content</label>
            <input class="form-control" type='textarea' name="content" [(ngModel)]='notice.content'>
        </div>
        <div class="form-group">
            <label for="">Owner</label>
            <input class="form-control" type='text' name="owner" [(ngModel)]='notice.owner'>
        </div>


        <div class="form-group">
            <label for="">Created At</label>
            <input class='form-control' type='text' name="createdAt" [(ngModel)]='notice.createdAt'>
        </div>


        <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
        <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>

        <button type="submit" class="btn btn-success">Update</button>
    </form>