<div *ngIf="notices">
  <div class="user-card text-center">
      <div class='text-center'>
          <h2>{{ notices.title}} </h2>
          <hr>
          
              <h4>{{ notices.content }}</h4>
              
              <button class='row col-sm-12 btn btn-success btn-sm'>
                <h3>{{notices.owner}}</h3>
              </button>
      </div>


      <div class="container">

          <div class="img-parent">

              <div class='container' *ngFor='let i of notices.avatarImage'>
                  <button type="button" (click)="show()"><img [src]='i' class='img-responsive img-circle'></button>

              </div>
          </div>


      </div>




    

      <button *ngIf='auth.isLoggedIn()' [routerLink]="['/notice',notices._id,'edit']"
          class="row col-sm-6 btn btn-primary btn-sm">Edit</button>
      <button *ngIf='auth.isLoggedIn()' (click)="teacherDelete()" class="row col-sm-6  btn btn-danger btn-sm">Delete</button>
  </div>





</div>