<div class="jumbotron text-center">
  <h2>Students Digital Notice Board</h2><hr>
  <h4>Survey and Lands Studies Department</h4><br>
  <button *ngIf='auth.isLoggedIn()' routerLink='/notice/create' class="btn btn-info">New Notice</button>
  <div class="words"><b>
  An initative of the COVID-19 team
  </b>
  </div>
</div>

<div *ngIf="notices">
  <div *ngFor="let c of (notices)" class="col-sm-4">
    <div class="thumbnail notice-thumbnail" [routerLink]="['/notice',c.id]">
      <h3> {{ c.title }}</h3>
      <hr />
      <h4>{{c.content}}</h4>
      <hr>
      <h5><b>{{c.createdAt | date:'short'}}</b></h5>



    </div>
    
    <div *ngIf='successMessage' class="btn-center notice-thumbnail alert alert-success">
    <a href={{c.uploads[0]}} class='btn pull-center btn-success btn-lg'>NOTICE IN PDF</a>

    </div>
   <!--- <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>
   -->
    <!--<div><a href={{c.uploads[0]}} class='btn pull-center btn-default'>IN PDF</a></div>


     <div class="btn btn-info pull-right" routerLink='/feedback/create'>Leave a Feedback</div>
     <div class="btn btn-primary pull-left" routerLink='/feedback'>Show Prev Feedbacks</div>-->
     
  </div>
</div>
