<div class="panel-heading text-center">Add a New Property</div>
<div class="panel-body" *ngIf='teacher'>
  <form [formGroup]='form' (ngSubmit)='createTeacher()'>
    <div class="form-group col-sm-4">
      <label for="">Property Location</label>
      <input class="form-control" type='text' name="location" formControlName='location' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Price</label>
      <input class="form-control" type='string' name="price" formControlName='price' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Status</label>
      <input class="form-control" type='text' name="status" formControlName='status' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Type</label>
      <input class="form-control" type='text' name="type" formControlName='type' required>
    </div>

    <div class="form-group col-sm-4">
      <label for="">Description</label>
      <input class="form-control" type='text' name="Description" formControlName='description' required>
    </div>

    <div class="form-group col-sm-4">
      <input type="file" multiple name='avatarImage' (change)="onFileSelected($event)" formControlName='avatarImage' />
    </div>

    <div class="form-group col-sm-12">
      <div *ngIf='successMessage' class="alert alert-success">{{successMessage}}</div>
      <div *ngIf='errorMessage' class="alert alert-danger">{{errorMessage}}</div>
    </div>



    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>

</div>